h1 {
    text-align: center;
    color: cornflowerblue;
}

body {
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

.image-div, .place-info {
    display: inline-block;
    min-width: 50%;
}

.place-name {
    color: darkslateblue;
    font-size: 6em;
}

.ratings-header, .description-header, .comments-header {
    color: darkturquoise;
    font-size: 3em;
}

hr {
    border: none;
    height: 1px;
    background-color: darkslategray;
}

